<!DOCTYPE html>
<html>
  <head>
    <title>Molho Umami</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Molho Umami</h1>
    <ul>
        <li>1 cabeça de alho assado.</li>
        <li>150g catupiri cremoso ou requeijão cremoso.</li>
        <li>2 colheres de sopa de creme de leite.</li>
        <li>1 colher de molho shoyo.</li>
        <li>pimenta do reino moida a gosto.</li>
        <li>sal a gosto.</li>
    </ul>
    <button><a href="/">Home</a></button>
  </body>
</html>
