<!DOCTYPE html>
<html>
  <head>
    <title>Molho Umami</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Molho Umami</h1>
    <ul>
        <li class="lista">1 cabeça de alho assado.</li>
        <li class="lista">150g catupiri cremoso ou requeijão cremoso.</li>
        <li class="lista">2 colheres de sopa de creme de leite.</li>
        <li class="lista">1 colher de molho shoyo.</li>
        <li class="lista">pimenta do reino moida a gosto.</li>
        <li class="lista">sal a gosto.</li>
    </ul>
    <button><a href="/">Home</a></button>
  </body>
</html>
